@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'bootswatch';

.row {
    margin-right: -7.5px;
    margin-left: -7.5px;
    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

body {
    background: theme-color('light');
}
.auth {
    display: flex;
    height: 100vh;
    width: calc(100vw - 30px);
    justify-content: center;
    align-content: center;
    .inner {
        margin: auto;
        width: 100%;
        max-width: 380px;
        .logotype {
            height: 30px;
            margin-bottom: 15px;
        }
        h1 {
            color: darken(theme-color('light'), 40);
            font-size: 15px;
            font-weight: 900;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
    }
}
.app {
    .navbar {
        .navbar-brand {
            img {
                height: 20px;
            }
        }
        .active a {
            color: theme-color('primary') !important;
            font-weight: bold;
        }
    }
    .card {
        .card-title {
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }
    .media {
        border-bottom: 1px solid #eee;
        margin-bottom: 15px;
        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
    .table {
        .nw {
            width: 1px;
        }
        th, td {
            vertical-align: middle;
        }
    }
    .dashboard-how-to,
    .dashboard-video-empty {
        text-align: center;
        .fa-film {
            font-size: 90px;
            color: #eee;
            margin-bottom: 15px;
        }
        img {
            margin-bottom: 15px;
        }
    }
    .dashboard-video {
        .card {
            position: relative;
            .date {
                background: theme-color('primary');
                color: #fff;
                padding: 5px;
                top: 0;
                right: 0;
                position: absolute;
            }
        }
    }
}

.responsive-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
.responsive-container iframe,
.responsive-container object,
.responsive-container embed,
.responsive-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-timeline {
    background: #eee;
    margin-bottom: 30px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}